[submodule "components/easy_input"]
	path = components/easy_input
	url = https://github.com/joltwallet/easy_input.git
[submodule "components/zlib"]
	path = components/zlib
	url = https://github.com/joltwallet/nano_zlib.git
[submodule "components/QRCode"]
	path = components/QRCode
	url = https://github.com/joltwallet/QRCode.git
[submodule "components/bip-mnemonic"]
	path = components/bip-mnemonic
	url = https://github.com/joltwallet/bip-mnemonic.git
[submodule "components/jolt-crypto"]
	path = components/jolt-crypto
	url = https://github.com/joltwallet/jolt-crypto.git
[submodule "components/jolt-types"]
	path = components/jolt-types
	url = https://github.com/joltwallet/jolt-types.git
[submodule "components/nano_rest"]
	path = components/nano_rest
	url = https://github.com/joltwallet/nano_rest.git
[submodule "jolt_wallet/hal/lv_drivers"]
	path = jolt_os/hal/lv_drivers
	url = https://github.com/joltwallet/lv_drivers.git
