# Build artifacts, esp-idf, and toolchain
sdkconfig*
!sdkconfig.defaults
build/
xtensa-esp32-elf/

# Misc
*.DS_Store
.*project
.settings

# Jolt Specific
jolt_os/jolt_commit.c

# Documentation
docs/html/
docs/latex/

# Misc
*.sh

# Static Analysis
cppcheck.log
compile_commands.json

# RNG analysis
rng.raw
