[submodule "components/easy_input"]
	path = components/easy_input
	url = https://github.com/joltwallet/easy_input.git
[submodule "components/QRCode"]
	path = components/QRCode
	url = https://github.com/joltwallet/QRCode.git
[submodule "components/bip-mnemonic"]
	path = components/bip-mnemonic
	url = https://github.com/joltwallet/bip-mnemonic.git
[submodule "components/jolt-crypto"]
	path = components/jolt-crypto
	url = https://github.com/joltwallet/jolt-crypto.git
[submodule "components/jolt-types"]
	path = components/jolt-types
	url = https://github.com/joltwallet/jolt-types.git
[submodule "jolt_wallet/hal/lv_drivers"]
	path = jolt_os/hal/lv_drivers
	url = https://github.com/joltwallet/lv_drivers.git
[submodule "components/lvgl/lvgl"]
	path = components/lvgl/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "components/json/cJSON"]
	path = components/json/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
[submodule "components/esp_hdiffz"]
	path = components/esp_hdiffz
	url = https://github.com/joltwallet/esp_hdiffz.git
[submodule "components/esp_full_miniz"]
	path = components/esp_full_miniz
	url = https://github.com/joltwallet/esp_full_miniz.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "jolt_os/hal/storage/cryptoauthlib"]
	path = components/cryptoauthlib
	url = https://github.com/joltwallet/cryptoauthlib.git
[submodule "jolt_os/crypto/algorithms/secp256k1"]
	path = components/secp256k1/secp256k1
	url = git@github.com:joltwallet/secp256k1.git
