# Logging Config
CONFIG_LOG_BOOTLOADER_LEVEL_WARN=y
CONFIG_LOG_BOOTLOADER_LEVEL=2

# Partition Table Config
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_CUSTOM_APP_BIN_OFFSET=0x10000
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_APP_OFFSET=0x10000

# Memory Config
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=n

# Display Config
CONFIG_JOLT_DISPLAY_FLIP=n
CONFIG_JOLT_DISPLAY_PIN_SDA=4
CONFIG_JOLT_DISPLAY_PIN_SCL=15
CONFIG_JOLT_DISPLAY_PIN_RST=16
CONFIG_JOLT_DISPLAY_ADDRESS=0x78
CONFIG_MENU8G2_HEADER_LEFT_JUST=y

# easy_input Config
CONFIG_EASY_INPUT_PUSH_BUTTON_ENABLE=y
CONFIG_EASY_INPUT_PUSH_BUTTON_UP_PIN=12
CONFIG_EASY_INPUT_PUSH_BUTTON_DOWN_PIN=14
CONFIG_EASY_INPUT_PUSH_BUTTON_BACK_PIN=13
CONFIG_EASY_INPUT_PUSH_BUTTON_ENTER_PIN=27

# Stack Smash and Heap Poisoning
CONFIG_STACK_CHECK_MODE=y
#Maybe change this to CONFIG_STACK_CHECK_ALL when not using LWS
CONFIG_STACK_CHECK_STRONG=y
CONFIG_HEAP_POISONING_COMPREHENSIVE=y

# Serial Monitor
CONFIG_MONITOR_BAUD_921600B=y
CONFIG_CONSOLE_UART_BAUDRATE=921600

# ESP32 Config
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_XTAL_FREQ_26=y

# FreeRTOS Config
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y

# SPIFFS Config
CONFIG_SPIFFS_MAX_PARTITIONS=1

# NanoParse Config
CONFIG_NANOPARSE_BUILD_W_LWS=y
