menu "Jolt Wallet Config"

    menu "Display"
        config JOLT_DISPLAY_PIN_SDA
            int
            prompt "Display SDA GPIO PIN"
            default 4
            help
                help text here

        config JOLT_DISPLAY_PIN_SCL
            int
            prompt "Display SCL GPIO PIN"
            default 15
            help
                help text here

        config JOLT_DISPLAY_PIN_RST
            int
            prompt "Display RST GPIO PIN"
            default 16
            help
                help text here

        config JOLT_DISPLAY_ADDRESS
            hex
            prompt "Display RST GPIO PIN"
            default 0x78
            help
                help text here
    endmenu

    config JOLT_DEFAULT_TIMEOUT_S
        int
        prompt "Default idle time in seconds before wiping vault from memory."
        default 300
        help
            help text here

    config JOLT_DEFAULT_BOOT_SPLASH_ENABLE
        bool
        prompt "Enable boot splash screen"
        default y
        help
            help text here

    config JOLT_DEFAULT_MAX_ATTEMPT
        int
        prompt "Number of pin attempts before wiping NVS"
        default 10
        help
            help text here

    choice
        prompt "Select QR Encoding Method"
        config JOLT_QR_TYPE_SIMPLE
            bool "simple address encoding xrb_"
        config JOLT_QR_TYPE_STANDARD
            bool "Follows the Nano QR URI standard"
        config JOLT_QR_TYPE_SHORT
            bool "Encodes using QR alphanumeric XRB-"
    endchoice

    config JOLT_QR_VERSION
        int
        prompt "QR Version"
        default 6
        help
            Determines QR Code size

    config JOLT_QR_SCALE
        int
        prompt "Pixel-wise QR code scale multiplier"
        default 1
        help
            help text here

    config JOLT_VAULT_RPC_QUEUE_LEN
        int
        prompt "Vault RPC queue length"
        default 8
        help
            help text here

    config JOLT_NANO_DEFAULT_REPRESENTATIVE
        string
        prompt "Default Nano Account Representative"
        default "xrb_1cwswatjifmjnmtu5toepkwca64m7qtuukizyjxsghujtpdr9466wjmn89d8"
        help
            Default representative for new Nano Accounts

    config JOLT_NANO_CONTACTS_MAX
        int
        prompt "Maximum number of stored nano contacts"
        default 10
        help
            Default representative for new Nano Accounts

    config JOLT_NANO_CONTACTS_NAME_LEN
        int
        prompt "Maximum length of nickname"
        default 18
        help
            help text here

    config AP_TARGET_SSID
        string
        prompt "WiFi SSID"
        default "SSID"
        help
            help text here

    config AP_TARGET_PASSWORD
        string
        prompt "WiFi Password"
        default "Password"
        help
        help text here

endmenu
