menu "JoltOS"
    menu "I2C"
        config JOLT_I2C_MASTER_NUM
            int
            prompt "Which I2C port to use"
            default 1
            help
                Help Text Here

        config JOLT_I2C_PIN_SDA
            int
            prompt "Display SDA GPIO PIN"
            default 4
            help
                I2C Display's SDA

        config JOLT_I2C_PIN_SCL
            int
            prompt "Display SCL GPIO PIN"
            default 15
            help
                I2C Display's SCL

        config JOLT_I2C_MASTER_FREQ_HZ
            int
            prompt "Master I2C Clock Freq"
            default 400000
            help
                Help Text Here

        config JOLT_I2C_TIMEOUT_MS
            int
            prompt "I2C Timeout in milliseconds"
            default 1000
            help
                Help Text Here
    endmenu
    menu "Jolt Cast"
        config JOLT_CAST_DOMAIN
            string
            prompt "Jolt Cast Default Domain"
            default "yapraiwallet.space"
            help
                Help Text Here
        config JOLT_CAST_PORT
            int
            prompt "Jolt Cast Default Port"
            default 5523
            help
                Help Text Here
        config JOLT_CAST_PATH
            string
            prompt "Jolt Cast Default Path"
            default "/api"
            help
                Help Text Here
    endmenu
    menu "Display"
        config JOLT_DISPLAY_BRIGHTNESS
            int
            prompt "Default display brightness"
            default 200
            help
                Value from [0-255] indicating screen brightness

        config JOLT_DISPLAY_FLIP
            bool
            prompt "Rotate the display buffer 180 degrees"
            default n
            help
                Flip everything drawn to the display; used depending on how
                your screen is mounted in your hardware setup.

        config JOLT_DISPLAY_ADDRESS
            hex
            prompt "Display I2C Address"
            default 0x3C
            help
                I2C Display's Address prior to left shift.

        config JOLT_DISPLAY_PIN_RST
           int
           prompt "Display Reset GPIO"
           default 16
           help
              GPIO thats connected to the display's RST pin.

        config JOLT_HW_MONITOR_UPDATE_PERIOD_MS
            int
            prompt "Number of milliseconds between hardware measurements like battery voltage, wifi strenght, etc."
            default 100
            help
                help text here.
        config JOLT_I2C_ERROR_RESET
            bool
            prompt "Reset if unable to contact display"
            default y
            help
                If yes, Jolt will reboot on failure to communicate with the 
                dislay. If no, it will continue operating as usual.
    endmenu

    menu "GUI"
        config JOLT_GUI_LOADING_BAR_ANIM_MS
            int
            prompt "Loading bar animation catchup time in ms"
            default 100
            help
                help text here
        config JOLT_GUI_STATUSBAR_UPDATE_PERIOD_MS
            int
            prompt "Number of milliseconds between statusbar updates"
            default 273
            help
                help text here
    endmenu

    menu "App Compression"
        config JOLT_APP_COMPRESS
            bool
            #depends on ELFLOADER_MEMORY_POINTER
            prompt "Use heatshrink to decompress apps"
            default n
            help
                help text here

        config JOLT_HEATSHRINK_BUFFER
            int
            depends on JOLT_APP_COMPRESS
            prompt "Heatshrink Decompress Buffer Size"
            default 256
            help
                help text here

        config JOLT_HEATSHRINK_WINDOW
            int
            depends on JOLT_APP_COMPRESS
            prompt "Heatshrink Window Size"
            default 8
            help
                help text here

        config JOLT_HEATSHRINK_LOOKAHEAD
            int
            depends on JOLT_APP_COMPRESS
            prompt "Heatshrink Lookahead"
            default 4
            help
                help text here
    endmenu

    config JOLT_DEFAULT_TIMEOUT_S
        int
        prompt "Default idle time in seconds before wiping vault from memory."
        default 300
        help
            help text here

    config JOLT_TIMEOUT_TIMEOUT_MS
        int
        prompt "Maximum number of time in milliseconds for Private Node Watchdog to wait to obtain private node mutex."
        default 1000
        help
            help text here

    choice
        prompt "Select Mnemonic Storage Method"
        config JOLT_STORE_INTERNAL
            bool "Simple SPI Flash"
            help
               Requires no external components. Unsafe against replay attacks.
        config JOLT_STORE_ATAES132A
            bool "ATAES132A Secure EEPROM"
            help
                Use ATAES132A to store Mnemonic and pin attempts. Also uses
                device to stretch keys, making brute force attempts less
                feasible.
    endchoice

    menu "ATAES132A"
        depends on JOLT_STORE_ATAES132A
        config JOLT_AES132_STRETCH_ITER
            int
            prompt "Number of encrpytion iterations to slow down pin derivation"
            default 300
            help
                A single iteration typically takes 2.4mS on device, but 
                communication overhead and freeRTOS ticks makes this more
                around 7mS.
        config JOLT_AES132_LOCK
            bool
            prompt "Lock ATAES132A after configuring"
            default n
            help
                For secure use of Jolt, you must lock the ataes132a device.
                Locking is a permament action. It is useful to not lock while
                implementing and debugging new security features.
    endmenu

    menu "Console"
        config JOLT_CONSOLE_STARTUP_CLEAR
            bool
            prompt "Clear serial monitor upon startup/console launch."
            default y
            help
                help text here
        config JOLT_CONSOLE_UART_RX_BUF_LEN
            int
            prompt "Buffer length for receiving console commands"
            default 4096
            help
                help text here

        config JOLT_CONSOLE_UART_TX_BUF_LEN
            int
            prompt "Buffer length for transmitting back console drawing"
            default 0
            help
                Set to 0 to block until command sent

        config JOLT_CONSOLE_MAX_ARGS
            int
            prompt "Maximum number of arguments to parse"
            default 8
            help
                help text here

        config JOLT_CONSOLE_MAX_CMD_LEN
            int
            prompt "Maximum length in characters of a command"
            default 4096
            help
                help text here

        config JOLT_CONSOLE_HISTORY
            int
            prompt "Number of previous commands to keep in history"
            default 20
            help
                help text here

        config JOLT_CONSOLE_OVERRIDE_LOGGING
            bool
            prompt "Disable ESP_LOG while console is running"
            default y
            help
                help text here
    endmenu

    config JOLT_DEFAULT_BOOT_SPLASH_ENABLE
        bool
        prompt "Enable boot splash screen"
        default y
        help
            help text here

    config JOLT_DEFAULT_MAX_ATTEMPT
        int
        prompt "Number of pin attempts before wiping NVS"
        default 10
        help
            help text here

    menu "Task Stack Size"
        config JOLT_TASK_STACK_SIZE_LVGL
            int
            prompt "LittleVGL Task Stack Size"
            default 6144
            help
                help text here

        config JOLT_TASK_STACK_SIZE_HW_MONITORS
            int
            prompt "Hardware Monitors Task Stack Size"
            default 2048
            help
                help text here

        config JOLT_TASK_STACK_SIZE_DERIVATION
            int
            prompt "PIN Stretch and Master Seed Derivation Task Stack Size"
            default 4096
            help
                help text here.

        config JOLT_TASK_STACK_SIZE_VAULT_WATCHDOG
            int
            prompt "Vault Watchdog Task Stack Size"
            default 4096
            help
                help text here.

        config JOLT_TASK_STACK_SIZE_CONSOLE
            int
            prompt "UART Linenoise Console Task Stack Size"
            default 4096
            help
                help text here.

        config JOLT_TASK_CMD_STACK_SIZE_CONSOLE
            int
            prompt "Task that processes CLI cmds Stack Size"
            default 4096
            help
                help text here.

    endmenu

    menu "Task Priority"
        config JOLT_TASK_PRIORITY_LVGL
            int
            prompt "LittleVGL Task Priority"
            default 17
            range 1 20
            help
                help text here.

        config JOLT_TASK_PRIORITY_HW_MONITORS
            int
            prompt "Hardware Monitors Task Priority"
            default 2
            range 1 20
            help
                help text here.

        config JOLT_TASK_PRIORITY_CONSOLE
            int
            prompt "Console Task Priority"
            default 15
            range 1 20
            help
                help text here.

        config JOLT_TASK_PRIORITY_CMD_CONSOLE
            int
            prompt "Cmd processing Console Task Priority"
            default 16
            range JOLT_TASK_PRIORITY_CONSOLE 20
            help
                Must be higher than JOLT_TASK_PRIORITY_CONSOLE

        config JOLT_TASK_PRIORITY_LAUNCHER
            int
            prompt "App Launcher Task Priority"
            default 10
            range 1 20
            help
                help text here.

        config JOLT_TASK_PRIORITY_DERIVATION
            int
            prompt "PIN Stretch and Master Seed Derivation Task Priority"
            default 2
            range 1 20
            help
                help text here.

        config JOLT_TASK_PRIORITY_VAULT_WATCHDOG
            int
            prompt "Vault Watchdog Task Priority"
            default 16
            range 1 20
            help
                help text here.

    endmenu

    config JOLT_VAULT_RPC_QUEUE_LEN
        int
        prompt "Vault RPC queue length"
        default 8
        help
            Length of queue for Vault RPC commands

    menu "WiFi"
        config AP_TARGET_SSID
            string
            prompt "WiFi SSID"
            default "SSID"
            help
                Factory reset WiFi ssid

        config AP_TARGET_PASSWORD
            string
            prompt "WiFi Password"
            default "Password"
            help
                Factory reset WiFi pass
    endmenu

    menu "Battery"
        config JOLT_VBATT_SENSE_PIN
            int
            prompt "PIN to 1/2 voltage divider of VBATT"
            default 32
            range 32 39
            help
                ADC1 GPIO pin that reads VBATT via a 1/2 voltage divider.
        config JOLT_VBATT_MIN
            int
            prompt "Raw ADC value to be considered 0 percent"
            default 2000
            help
                help text here
        config JOLT_VBATT_MAX
            int
            prompt "Raw ADC value to be considered 100 percent"
            default 2470
            help
                help text here
        config JOLT_VBATT_AVG_WINDOW
            int
            prompt "Number of battery readings to average over"
            default 10
            range 1 255
            help
                To provide smoother battery voltage readings, we take many 
                and average them.

    endmenu

    menu "JELF Loader"
        config JELFLOADER_PROFILER_EN
            bool
            prompt "Enable ELF Loader Profiling"
            default n
            help
                Enable profiling tools. Takes up additional memory and some CPU cycles.

        config JELFLOADER_CACHE_SHT
            bool
            prompt "Cache SectionHeaderTable"
            default n
            help
                Allocates memory for every section read to reduce repeated flash reads.
                Frees these sections after loading is complete. In general, its better 
                to not enable this and increase number of chunks instead. Better 
                performance gain per KB of ram.

        config JELFLOADER_CACHE_LOCALITY
            bool
            prompt "Read ahead as filesystem is accessed"
            default y
            help
                help text here.

        config JELFLOADER_CACHE_LOCALITY_CHUNK_SIZE
            int
            depends on JELFLOADER_CACHE_LOCALITY
            prompt "Read ahead as filesystem is accessed"
            default 1024
            range 128 65536
            help
                chunk size for read ahead in bytes.

        config JELFLOADER_CACHE_LOCALITY_CHUNK_N
            int
            depends on JELFLOADER_CACHE_LOCALITY
            prompt "Number of chunks to cache"
            default 5
            range 0 255
            help
                number of chunks to cache.
    endmenu
endmenu
